


body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background: var(--white);
    font-size: 1.56vw;
  line-height: 1.5em;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none;
}

body::backdrop {
  background: var(--white);
}

div {
  z-index: 2;
}

.start_box, .end_box, .start_box_prev{
  width: 100%;
  height: 100%;
  background-color: var(--light-yellow);
  position: absolute;
  top: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.end_box{
  z-index: 4;
}

.type{
  height: 2.08vw;
  width: 36.46vw;
  color: var(--dark-blue);
  font-family: Montserrat-Medium;
  font-size: 0.85em;
  line-height: 2.08vw;
  margin: 0 1.04vw;
}

.start_box .title {
  height: 11.46vw;
  width: 36.46vw;
  color: var(--blue);
  font-family: Montserrat-Black;
  font-size: 3.35em;
  line-height: 1.1em;
}

.description{
  height: 7.28vw;
  width: 30.21vw;
  color: var(--green);
  font-family: Montserrat-Medium;
  font-size: 0.85em;
  line-height: 1.25em;
  padding: 3.13vw;
}

.button_start, .button_continue{
  height: 5.21vw;
  width: 23.96vw;
  background-color: var(--white);
  color: var(--blue);
  font-family: Montserrat-Semibold;
  font-size: 1.5em;
  line-height: 1em;
  border-radius: 2.6vw;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1.04vw;
  cursor: pointer;
  box-shadow: 0 0.52vw 0 var(--light-yellow-shadow);

  transition-duration: 0.2s;
  transition-property: box-shadow, transform;
}

.button_continue{
  background-color: var(--yellow);
  margin-top: 2.08vw;
}



.img_bg{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-between;
  position: absolute;
  top: 0;
}

.img_bg img{
  height: 100%;
}

.reflect {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.end_box .title {
  height: 5.21vw;
  width: 36.46vw;
  color: var(--blue);
  font-family: Montserrat-Black;
  font-size: 2.33em;
  line-height: 5.21vw;
}

.total_result {
  height: 3.13vw;
  width: 55.21vw;
  color: var(--blue);
  font-family: Montserrat-SemiBold;
  font-size: 1.33em;
  line-height: 3.13vw;
}

.total_result b{
  font-family: Montserrat-Bold;
}

.results {
  height: 14.58vw;
  width: 36.46vw;
  color: var(--blue);
  font-family: Montserrat-Medium;
  font-size: 1.17em;
  line-height: 2em;
  padding: 3.13vw;
  background-color: var(--white);
  border-radius: 2.6vw;
  text-align: left;
  margin: 1.04vw 0;
}

.results p{
  width: 100%;
  display: flex;
  justify-content:space-between;
}

.results b{
  text-align: right;
  color:  var(--green);
  font-family: Montserrat-Bold;
  position: relative;
  right: 0;
}

b.spend{
  color: var(--red);
}

.phrase {
  height: 5.21vw;
  width: 55.21vw;
  color: var(--green);
  font-family: Montserrat-SemiBold;
  font-size: 1.33em;
  line-height: 5.21vw;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    top: 0;
    background-color: var(--light-blue);
    z-index: 5;
}

.ch_title{
  display: flex;
    align-items: center;
    justify-content: center;
  color: var(--blue);
  font-family: Montserrat-SemiBold;
  font-size: 1.67em;
  line-height: 1.25em;
  text-align: center;
  width: 42.71%;
  height: 11.11%;
  margin-top: 12.04vh;
  margin-bottom: 7.59vh;
}


.ch_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73.96%;
    height: 51.67%;
}

.ch_1, .ch_2{
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
	width: 33.33vw;
	height: 100%;
  cursor: pointer;
}

.ch_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 37.04vh;
    border: 0.16vw solid var(--white);
    border-radius: 2.6vw;
    overflow: hidden;

    box-shadow: 0 0.52vw 0 var(--light-blue-shadow);
}


.ch_img img{
    height: 100%;
    
}

.ch_text{
  display: flex;
    align-items: center;
    justify-content: center;
  color: var(--blue);
  width: 20.83vw;
  height: 7.74vh;
  background: var(--white);
  font-family: Montserrat-Medium;
  font-size:1em;
  line-height: 1.25em;
  border-radius: 2.6vw;
  padding: 1.11vh 1.51vw;
  box-shadow: 0 0.52vw 0 var(--light-blue-shadow);

  transition-duration: 0.2s;
  transition-property: box-shadow, transform;
}

.click{
  box-shadow: 0 0 0 var(--light-yellow-shadow);
  transform: scale(0.9);
}

.ch_text.click, .button_formulate.click{
  box-shadow: 0 0 0 var(--light-blue-shadow);
}

.timer {
  width: 42.71%;
  height: 1.04vw;
  margin: 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 3.13vw;
  margin-bottom: 5.73vw;
  border-radius: 2.6vw;
  overflow: hidden;
}

.timer_line {
  width: 0;
  height: 100%;
  background: var(--light-blue);
  margin: 0;
border-radius: 2.6vw;
}

.game_1 .timer_line{
  background: var(--light-green);
}

.game_2 .timer_line{
  background: var(--gray);
}

.game_3 .timer_line{
  background: var(--light-blue);
}

.game_4 .timer_line{
  background: var(--light-red);
}

.white_box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--light-gray);
  mix-blend-mode: soft-light;
}



.videos {
    position: relative;
    height: 100%;
    margin: 0 auto;
}

.videos video {
    width: auto;
    height: 100%;
}

.video-js{
  background-color: var(--light-yellow);
}

.video-js .vjs-tech {
  
  position: absolute;
  left: auto;
  width: auto;
  height: 100vh;
}

.video-js.vjs-fluid, .video-js.vjs-16-9, .video-js.vjs-4-3 {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vjs-fluid {
    padding: 0;
}




.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  background-color: $primary-background-color;
  background-color: rgba($primary-background-color, 0.7);
}

.video-js .vjs-control-bar {
  position: absolute;
  bottom: 1.56vw;
  left: 0;
  right: 0;
  height: 3.13vw;
  width:  44.79vw;
  margin: auto;
  background-color: rgba(255,255,255, 0.5);
    border-radius: 5.21vw;
    padding: 0 1vw;
}

.vjs-button > .vjs-icon-placeholder:before {
  font-size: 2.5vw;
  line-height: 3.13vw;

}

.vjs-default-skin .vjs-control {
  outline: none;
  position: relative;
  float: left;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 3.13vw;
  width: 3.13vw;
  color: var(--blue);
}

.video-js .vjs-progress-holder {

  height: 0.31vw;
  border-radius: 1vw;
  background-color: rgba(13,59,122, 0.5);
}

.video-js .vjs-load-progress {
  border-radius: 1vw;
  background-color: rgba(13,59,122, 0.5);
}


.video-js .vjs-play-progress {
  background-color: var(--blue);
  border-radius: 1vw;
}

.vjs-default-skin .vjs-mute-control,
.vjs-default-skin .vjs-volume-menu-button {
  cursor: pointer;
  float: right;
}

.video-js .vjs-slider {
  background-color: $slider-bg-color;
  background-color: rgba($slider-bg-color, 0.5);
}


.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: $primary-foreground-color;
}


.video-js .vjs-load-progress {
  background: lighten($slider-bg-color, 25%);
  background: rgba($slider-bg-color, 0.5);
}


.video-js .vjs-load-progress {

}

.video-js .vjs-play-progress {
  font-size: 1vw;
}

.video-js .vjs-play-progress:before, .video-js .vjs-volume-level:before {
  font-size: 1vw;
  position: absolute;
  right: -0.5em;
  top: -0.3em;
  z-index: 1;
  color: var(--blue);
}

.video-js .vjs-remaining-time {
    display: block;
}

.video-js .vjs-time-control {
  flex: none;
  font-size: 1.5vw;
  line-height: 3.13vw;
  min-width: 2em;
    font-family: Montserrat-Bold;
    margin: 0 1vw;

}

.vjs-loading-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 1;
  text-align: left;
  border: 6px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  background-clip: padding-box;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  visibility: hidden;
  stroke-linecap: round;
}

.vjs-loading-spinner:before,
.vjs-loading-spinner:after {
  content: "";
  position: absolute;
  margin: -6px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: 1;
  border: inherit;
  border-color: transparent;
  border-top-color: var(--blue);
  
}

.video-js .vjs-volume-level {
    background-color: var(--blue);
}

.video-js .vjs-volume-bar {
    margin: 1.35vw 0.45em;
}



.vjs-slider-horizontal .vjs-volume-level {
    height: 0.31vw;
}

.vjs-volume-bar.vjs-slider-horizontal {
  height: 0.31vw;
  }

@keyframes vjs-spinner-fade {
  0% {
    border-top-color: var(--blue);
    opacity: 1;
  }
  50% {
    border-top-color: var(--blue);
    opacity: 0.5;
  }
  100% {
    border-top-color: var(--blue);
    opacity: 1;
  }
}
@-webkit-keyframes vjs-spinner-fade {
  0% {
    border-top-color: var(--blue);
    opacity: 1;
  }
  50% {
    border-top-color: var(--light-blue);
    opacity: 0.5;
  }
  100% {
    border-top-color: var(--blue);
    opacity: 1;
  }
}

.game_end, .navigation_box, .info_box{
  background-color: rgba(204, 204, 204, 0.75);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
      position: absolute;
    top: 0;
}

.game_window{
  width: 36.46vw;
  height: 23.96vw;
  background-color: var(--white);
  color: var(--blue);
    font-size: 0.75em;
  line-height: 0.75em;
  text-align: center;
    border-radius: 2.6vw;
    padding: 3.13vw;
      display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game_window .title{
      font-family: Montserrat-SemiBold;
  font-size: 1.75em;
  line-height: 2em;
}

.game_window .text{
      font-family: Montserrat-Medium;
  font-size: 1.25em;
  line-height: 1.5em;
  height: 12.5vw;
  width: 100%;
  margin: 1.04vw 0;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons div{
  margin: 0 0.52vw;
}

.button_game_again{
  width: 5.21vw;
  height: 5.21vw;
  cursor: pointer;

  transition-duration: 0.2s;
  transition-property: transform;
}

.button_game_again img{
  width: 100%;

}

.button_game_continue{
  width: 17.71vw;
  height: 5.21vw;
  cursor: pointer;
    border-radius: 2.6vw;
     border: 0.16vw solid var(--blue);
  font-family: Montserrat-SemiBold;
  font-size: 1.75em;
  line-height: 2em;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;

  transition-duration: 0.2s;
  transition-property: transform;
}


.navigation, .info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    background-color: var(--white);

  width: 80.21vw;
  height: 36.46vw;
  color: var(--blue);
    font-size: 0.75em;
  line-height: 0.75em;
  text-align: center;
    border-radius: 2.6vw;
    padding: 3.13vw;


}

.navigation .title{
  width: 100%;
  height: 3.13vw;
    font-family: Montserrat-SemiBold;
  font-size: 2.25em;
  line-height: 2em;
  margin-bottom: 1.04vw;
  margin-top: 2.08vw;

}

.navigation_part{
    display: flex;
    align-items: center;
    justify-content: space-between;
        flex-direction: row;

        
        width: 73.96vw;
        height: 9.38vw;
        margin-top: 2.08vw;
        margin-bottom: 4.17vw;
}

.navigation_part div{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  width: 11.46vw;
  height: 9.38vw;
  background: var(--blue);
  color: var(--white);
  border-radius: 2.6vw;
  cursor: pointer;
  position: relative;
  font-family: Montserrat-SemiBold;
  font-size: 1.2em;
  line-height: 1.2em;

  box-shadow: 0 0.52vw 0 var(--white-shadow);

  transition-duration: 0.2s;
  transition-property: box-shadow;
}

.navigation_part div.click{
  box-shadow: 0 0 0 var(--white-shadow);
  transform: scale(1);
}

.navigation_part div p{
    font-family: Montserrat-Medium;
  font-size: 0.85em;
  color: var(--light-blue);

}

.game_1 .line, .game_2 .line, .game_3 .line, .game_4 .line{
  position: absolute;
  left: -4.17vw;
  width: 4.17vw;
  height: 2.08vw;
  border-radius: 0;
  background-color: var(--light-blue);
  z-index: 1;

  box-shadow: 0 0 0 var(--white-shadow);
}

.navigation .lock{
  cursor: default;

}

.navigation_part .lock_box {
    background: var(--blue);
  opacity: 0.5;
  z-index: 3;
  position: absolute;
  top: 0;
  display: none;
}

.lock .lock_box{
  display: block;
}

.lock_box img{
  
  height: 100%;
  opacity: 0.5;
  
}


.close {
  width: 3.13vw;
  height: 3.13vw;
  position: inherit;
  margin: 2.08vw;
  top: 0;
  right: 0;

  cursor: pointer;
  z-index: 10;
}

.close img{
  width: 100%
}


.info_content{
  height: 31.25vw;
  width: 73.96vw;
  padding: 0 3.13vw;


overflow: hidden;

}

.info_titles{
  height: 5.21vw;
  width: 100%;
  display: flex;
  justify-content: flex-start;

}

.info_titles div{
  width: 14.59vw;
  height: 5.21vw;
  font-family: Montserrat-SemiBold;
  font-size: 1.5em;
  color: var(--blue);
  line-height: 1.25em;
  text-align: center;
  background-color: var(--light-blue);
  border-radius: 2.6vw 2.6vw 0 0;
  margin-right: 0.26vw;
  padding: 0 2.08vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.info_titles .current{
  background-color: var(--blue);
  color: var(--white);
}

.gradient{
  height: 2.08vw;
  width: 100%;
  background: linear-gradient(to bottom, white 0%, transparent 100%);
  position: inherit;
  top: 8.33vw;
  z-index: 3;
}

.gradient_{
  height: 2.08vw;
  width: 100%;
  background: linear-gradient(to top, white 0%, transparent 100%);
  position: inherit;
  bottom: 3.13vw;
  z-index: 3;
}

.jspDrag, .jspVerticalBar{
  z-index: 4;
}

.info_content h2 {
  font-family: Montserrat-SemiBold;
  font-size: 1.75em;
  color: var(--blue);
  line-height: 1.25em;
  text-align: center;
  margin-top: 1.04vw;
}

.info_content p {
  font-family: Montserrat-Regular;
  font-size: 1.25em;
  color: var(--dark-blue);
  line-height: 1.5em;
  text-align: left;
  margin-top: 1.04vw;
}





.button_scenes, .button_info{
  display: flex;
    align-items: center;
    justify-content: center;
  /*width: 6.77vw;
  height: 6.77vw;*/
  width: 5.21vw;
  height: 5.21vw;
  position: absolute;
  bottom: 0;
  right: 0;
  /*background: var(--white);*/
  background: rgba(255,255,255, 0.5);
  cursor: pointer;
  color: var(--blue);
  /*border-radius: 5.21vw 5.21vw 0 5.21vw;*/
  border-radius: 5.21vw;
  z-index: 4;
  opacity: 1;
  transition-duration: 0.75s;
  transition-property: opacity;
  
  margin: 0.52vw 1.56vw;
}

.button_info{
  left: 0;
    /*border-radius: 5.21vw 5.21vw 5.21vw 0;*/
    border-radius: 5.21vw;
}

.button_scenes img, .button_info img{
  width: 100%;
  }



.money{
  width: 15.1vw;
  height: 8.85vw;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--white);
  z-index: 6;
  pointer-events: none;
}

.total_money{
  display: flex;
  width: 8.33vw;
  height: 2.08vw;

  margin-top: 2.86vw;
  color: var(--blue);
  font-family: Montserrat-Bold;
  font-size: 1em;
  line-height: 0.75em;
  text-align: right;
  flex-direction: column;
  justify-content: center;
}

.change_money{
  display: flex;
  width: 8.33vw;
  height: 3.13vw;

  color: var(--green);
  font-family: Montserrat-Bold;
  font-size: 1.25em;
  text-align: right;
  flex-direction: column;
  justify-content: center;
  margin-top: 3vw;
  opacity: 0%;
}

.spend{
  color: var(--red);
}

.wallet_icon {
  width: 6.77vw;
  position: absolute;
  top: 0;
  right: 0;
}

.hide {
    display: none;
}

.active {
    display: block;
}

.vjs-fluid.hide {
    display: none;
}

.vjs-fluid.active {
    display: flex;
}

.loading{
  width: 100%;
  height: 100%;
  background-color: var(--light-blue);
  position: absolute;
  top: 0;
}


